language: "node_js"
node_js:
 - "0.8"
 - "0.10"

cache:
  directories:
    - node_modules

notifications:
  email:
    on_success: change
    on_failure: change

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

before_script:
  - npm run build
