name: Assets

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  assets:
    name: Update local assets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1

      - name: Use node 13
        uses: actions/setup-node@v1
        with:
          node-version: '13.x'

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn bootstrap

      - name: Fetch latest assets
        id: fetch
        run: yarn update

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN_BOT }}
          commit-message: "Update upstream public suffix list"
          title: "Update upstream public suffix list"
          body: "Automated update of upstream public suffix list"
          reviewers: remusao
          branch: update-psl
          labels: "PR: Update PSL :scroll:"

      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ env.PULL_REQUEST_NUMBER }}"
          echo "Pull Request Number - ${{ steps.cpr.outputs.pr_number }}"
